<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ienquire.ie.libfff">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="ienquire.ie.libfff.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />


    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">


        <activity
            android:name=".FeedFromTheFieldClipActivity"
            android:screenOrientation="landscape"
            android:theme="@style/FFFAppTheme1" />
        <activity
            android:name=".ActivityFeedFromTheField"
            android:theme="@style/FFFAppTheme1" />

        <!-- ************************** GCM ************************************************ -->
        <receiver
            android:name=".gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="ienquire.ie.libfff" />
            </intent-filter>
        </receiver>

        <service android:name=".gcm.GCMNotificationIntentService" />
        <!-- ************************** GCM ************************************************ -->

    </application>

</manifest>
